# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = zw_scrapy.settings
log_encoding = UTF-8
[deploy]
#url = http://localhost:6800/
project = zw_scrapy
